.container{
    display: flex;
    width: 100%;
    background-color: rgb(129, 111, 206);
    height: auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    overflow-x: hidden;
  } 

  .container-header {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .header a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
  }
  
  .header a:hover {
    color: #c211a1;
  }
  
  .navbar {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  
  .header h1 {
    margin-left: 30px;
    margin-right: 30px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
  }

  .container h1{
    color: white ;
    text-shadow: 2px 2px 5px rgb(46, 0, 77);
  }
  
  .logo {
    width: 200px;
    margin: 2%
  }
  
  
  /* fim header */

#empresa_input{
  margin-bottom: 2vh;
}

  .span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
  }
  
.loading-div{
    display: none;
  }
  
  #loading-gif{
    height: 40px;
    width: 40px;
  }

  #botao_cadastro{
    font-size: medium;
    margin-top: 1vh;
    height: 5vh;
    width: 120px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border-radius: 9px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  #botao_cadastro:hover{
    background-color: #8400a5;
    color: rgb(255, 255, 255);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
   
  
.footer {
    width: 100%;
    background-color: #ffffff;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-inputs{
    width: 45%;
    height: 58vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
    border: 10px;
    border-radius: 12px;
    box-shadow: 7px 5px #6b6367;
    margin-bottom: 5vh;
  } 
  
  .container{
    display: flex;
    width: 100%;
    background-image: url('../img/bg-cadastro3.jpg');
    background-size: cover;
    background-color: rgb(129, 111, 206);
    height: auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  .container-footer{
    display: flex;
    width: 90%;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left img{
    height: 150px;
    width: 150px;
  }
  
  .footer-info {
    display: flex;
    flex-direction: column;
    width: 15%;
  }
  
  .footer-info h1 {
    color: #393D46;
    font-size: 20px;
  }
  
  .footer-info a {
    color: #393D46;
    margin: 5px;
    text-decoration: none;
  }
  
  .footer-nav:hover {
    font-weight: 800;
  }