body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
}

/* COMEÇO HEADER */

.container {
  display: flex;
  justify-content: space-between;
}

.container i {
  padding: 1%;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: solid 2px black;
}

.header a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

.header a:hover {
  color: #c211a1;
}

.navbar {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.header h1 {
  margin-left: 30px;
  margin-right: 30px;

}

.logo {
  width: 200px;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* FIM DO HEADER */


/* COMEÇO TELA PARTE 1 */

.buttonsSpan {
  width: 100%;
  display: flex;
  align-items: center;
}

.getStarted {
  height: 30px;
  width: 120px;
  margin-left: 30px;
  border: none;
  border-radius: 50px;
  background-color: #c211a1;
  color: white;
}

.viewDemo {
  height: 30px;
  width: 120px;
  margin-left: 15px;
  border: 1px solid #c211a1;
  border-radius: 50px;
  background: none;
  color: #393d46af;
}

.imgContainer {
  height: 528px;
  margin-right: 30px;
}

.asideParteUm {
  margin-left: 70px;
}

.asideParteUm b i {
  width: 100%;
}

.banner {
  background-color: rgb(255, 253, 253);
  margin-left: 30px;
}

.banner .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;

}

.banner .container p {
  font-size: 40px;
  color: rgb(0, 0, 0);
}

.banner .container span {
  font-size: 20px;
  color: rgb(0, 0, 0);
  height: 100px;
}

/* FIM DA TELA PARTE 1 */


/* COMEÇO DA TELA OBJETIVOS E MÉTODO */

.social {
  background-color: #3b065e;
  display: flex;
  justify-content: space-evenly;
}

.social aside {
  height: 700px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social article {
  height: 700px;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.txtImg {
  color: #fff;
  font-size: 60px;
  width: 80%;
  -webkit-text-stroke: white 2px;
  display: flex;
  text-align: start;
  margin-bottom: 5px;
}

.txtArticle {
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.txtObjMt {
  width: 40%;
  text-align: start;
  margin-left: 30px;
}

.lihaMais {
  margin-left: 30px;
  height: 2px;
  width: 60px;
  background-color: white;
}

.txtTitulo {
  width: 100%;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  text-align: start;
}

/* FIM OBJETIVOS E MÉTODO */


/* COMEÇO SOBRE NÓS */

.container2 {
  width: 100%;
  height: 650px;
  background-color: white;
  display: flex;
}

.container2 p {
  color: rgb(44, 197, 197);
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: end;
  -webkit-text-stroke: rgb(44, 197, 197) 1px;
}


.textSobreNos {
  display: flex;
  text-align: end;
  justify-content: end;
  width: 310px;
  font-size: 20px;
}

.txtSobreContexto {
  width: 500px;
}

aside {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

article {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center
}

.linhaContainer2 {
  height: 5px;
  width: 100px;
  background-color: rgb(44, 197, 197);
  margin-top: 15px;
}

.barraContainer2 {
  width: 100%;
  height: 100px;
  background-color: black;
}

.textContainer2 {
  width: 500px;
  font-size: 40px;
}

/* FIM DO SOBRE NÓS */


/* COMEÇO CARDS FALE CONOSCO */

.titulo3 {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 7vh;
}

.container3 {
  background-color: #004AAD;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.textContainer3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.containerCards {
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;

}

.cards {
  height: 50vh;
  width: 60vh;
  background-color: #FFFFFF;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.imgCard {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  border: solid 1px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgCard img {
  height: 35px;
}

/* FIM DOS CARDS FALE CONOSCO */


/* COMEÇO DO FOOTER */

.footer {
  width: 100%;
  height: 100px;
  background-color: #393d46;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FIM DO FOOTER */


/* INICIO RESPONSIVIDADE */
@media only screen and (max-width:600px){ 

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(255, 0, 0);
  font-size: 10px;
 }


/* COMEÇO HEADER */

.container {
  display: flex;
  justify-content: space-between;
}

.container i {
  padding: 1%;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: solid 2px black;
  width: 100%;
}

.header a {
  
  color: #000000;
  font-size: 12px;
}

.header a:hover {
  color: #ad72a2;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.logo {
  width: 20%;

}

/* FIM DO HEADER */


/* COMEÇO TELA PARTE 1 */

.buttonsSpan {
  width: 100%;
  display: flex;
  align-items: center;
}
.container{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  height: 150px;

}

.banner {
  background-color: rgb(255, 253, 253);
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.banner .container {
  justify-content: space-between;
  display: flex;
  height: 300px;
}

.banner .container p {
  font-size: 25px;
  color: rgb(0, 0, 0);
}

.banner .container span {
  font-size: 15px;
  color: rgb(0, 0, 0);
  height: 10px;
}

/* FIM DA TELA PARTE 1 */


/* COMEÇO DA TELA OBJETIVOS E MÉTODO */

.social {
  background-color: #3b065e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 550px;
}

.txtImg {
  color: #fff;
  font-size: 25px;
  width: 50%;
  display: flex;
  text-align: start;

}

.txtArticle {
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.txtObjMt {
  width: 40%;
  text-align: start;
  margin-left: 30px;
}

.imgContainer2{
  height: 200px;
}

.txtTitulo {
  width: 1%;
  font-size:15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  text-align: start;
}

/* FIM OBJETIVOS E MÉTODO */


/* COMEÇO SOBRE NÓS */

.container2 {
  width: 100%;
  height: 550px;
  background-color: white;
  display: flex;
  align-items: center;
}
.imgContainer3{
  width: 100%;
  height: 150px;
}
.container2 p {
  color: rgb(44, 197, 197);
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: end;
 
}


.textSobreNos {
  display: flex;
  text-align: end;
  justify-content: end;
  width: 100%;
  font-size: 15px;
}

.txtSobreContexto {
  width: 100%;
  font-size: 12px;
}

aside {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}

article {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center
}

.linhaContainer2 {
  height: 5px;
  width: 100px;
  background-color: rgb(44, 197, 197);
  margin-top: 15px;
}

.barraContainer2 {
  width: 100%;
  height: 100px;
  background-color: black;
}

.textContainer2 {
  width: 90%;
  font-size: 25px;
}

/* FIM DO SOBRE NÓS */


/* COMEÇO CARDS FALE CONOSCO */

.titulo3 {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 7vh;
}

.container3 {
  background-color: #004AAD;
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.textContainer3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.containerCards {
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;

}

.cards {
  height: 130px;
  width: 30%;
  background-color: #FFFFFF;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.imgCard {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  border: solid 1px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgCard img {
  height: 35px;
}

/* FIM DOS CARDS FALE CONOSCO */


/* COMEÇO DO FOOTER */

.footer {
  width: 100%;
  height: 100px;
  background-color: #393d46;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}