body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container b {
  width: 100%;
}

.container b p {
  width: 100%;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
   margin-left: 30px;
  margin-right: 30px;
}

.header a {
  text-decoration: none;
  color: #000000;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.header h1 {
  margin-left: 30px;
  margin-right: 30px;

}
.logo {
 width: 200px;
 margin-right: 30px;
 
}
.imgContainer{
  height: 800px;
  margin-right: 30px;
}
.banner {
  
  background-color:rgb(255, 253, 253);
  margin-left: 30px;
}

.banner .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  
}

.banner .container p {
  font-size: 40px;
  color: rgb(0, 0, 0);
 height: 300px;
}
.banner .container span {
  font-size: 20px;
  color: rgb(0, 0, 0);
  height: 100px;
}

.banner .container span {
  font-weight: 800;
}

.social {
  background-color: #3b065e;
  display: flex;
}

.social aside {
  height: 700px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social article {
  height: 700px;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txtImg {
  color: #fff;
  font-family: Impact, sans-serif;
  font-weight: 400;
  font-size: 100px;
  display: flex;
}

.txtArticle {
  color: #fff;
  width: 100%;
  display: flex;
  text-align: start;
  align-items: end;
}

.teste {
  width: 100%;
}

.buttonsSpan {
  width: 100%;
  display: flex;
  align-items: center;
}

.getStarted {
  height: 30px;
  width: 120px;
  margin-left: 30px;
  border: none;
  border-radius: 50px;
  background-color: #c211a1;
  color: white;
}

.viewDemo {
  height: 30px;
  width: 120px;
  margin-left: 15px;
  border: 1px solid #c211a1;
  border-radius: 50px;
  background: none;
  color: #393d46af;
}
.container2{
  width: 100%;
  height: 800px;
  background-color: white;
  display: flex;
}

.container2 p{
  color: rgb(44, 197, 197);
  font-size:50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: end;
  -webkit-text-stroke: rgb(44, 197, 197) 1px;
}

.textSobreNos {
  display: flex;
  text-align: end;
  justify-content: end;
  width: 310px;
  font-size: 20px;
}

.txtSobreContexto {
  width: 300px;
}

aside {
 width: 50%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
}

article {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center
}
.linhaContainer2{
  height: 5px;
  width: 100px;
  background-color: rgb(44, 197, 197);
  margin-top: 15px;
}
.barraContainer2{
  width: 100%;
  height: 100px;
  background-color: black;
}

.textContainer2 {
  width: 500px;
  font-size: 40px;
}